.screen .image-5 {
  position: relative;
  bottom: 35px;
}
.screen .button-5 {
  position: relative;

  left: 290px;

  padding: 8px 16px 8px 16px;
  height: 45px;
  width: 100px;

  border-radius: 54.36px;
  border: 0.5px solid #d2c1af80;
  opacity: 100%;
  display: flex;
  z-index: 7;
  background-color: #d2c1af80;
}
.screen .button-5 hr {
  width: 40.26px;
  height: 0px;

  border: 0.68px 0px 0px 0px;
  opacity: 0px;
  transform: rotate(90deg);
  margin-top: 11px;

  border: 0.68px solid #212d2d;
}
.screen .text-5 {
  width: 150px;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.3fr;
  position: relative;
  width: 388px;
  height: 72px;
  bottom: 20px;
  left: 20px;
  gap: 0px;

  z-index: 3;
}

.screen .text-5 hr {
  height: 80px;
}
.screen .text-5 .p1 {
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.04px;
  text-align: left;

  width: 44px;
  height: 57px;
  gap: 0px;
  opacity: 0px;
}
.screen .text-5 .p2 {
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.04px;
  text-align: left;
}
