.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.screen {
  width: 414px;
  height: 736px;
  object-fit: cover;
  z-index: 1;
  background-color: #212d2d;
}
.logo-1 {
  position: absolute;

  width: 151px;
  height: 33.45px;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
  filter: brightness(0) invert(1);
}
.screen .line-2 {
  position: relative;
  bottom: 35px;
  left: 205px;
  z-index: 2;
}
.screen .bars {
  position: relative;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 30px;
  padding: 6px 3px 6px 3px;
  gap: 0px;
  opacity: 0px;
  filter: invert(1);
  display: flex;
  z-index: 5;
}
.screen .middle-text {
  position: relative;
  width: 388px;
  height: 72px;
  top: 15px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
  z-index: 3;
}
.screen .middle-text h1 {
  font-family: Athelas;
  font-size: 26px;
  font-weight: 400;
  line-height: 35.88px;
  letter-spacing: 0.01em;
  text-align: center;
}
.screen .middle-text span {
  font-family: Athelas;
  font-size: 26px;
  font-weight: 400;
  line-height: 35.88px;
  letter-spacing: 0.01em;
  text-align: center;
}
.screen .middle-text span i {
  font-family: Athelas;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 35.88px;
  letter-spacing: 0.01em;
  text-align: center;
}

.screen .main-image {
  position: relative;
  width: 370px;
  height: 350px;
  top: 65px;
  left: 23px;
  gap: 0px;
  border-radius: 16px 0px 0px 0px;
  opacity: 0px;

  z-index: 1;
}

.screen .button {
  position: relative;
  width: 271.87px px;
  height: 30.26pxpx;

  left: 90px;
  bottom: 25px;
  padding: 8px 16px 8px 16px;
  gap: 4px;
  border-radius: 54.36px;
  border: 0.5px solid #373939;
  opacity: 0px;
  display: flex;
  z-index: 5;
  background-color: #373939;
}
.screen .button p {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 0px;

  letter-spacing: 0.01em;
  text-align: center;
}
.screen .button hr {
  width: 31.26px;
  height: 0px;

  border: 0.68px 0px 0px 0px;
  opacity: 0px;
  transform: rotate(90deg);
  margin-top: 11px;
}
